/* ABOUT */
.about {
  &__item {
    text-align: left;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 8rem;
  }
  &__description {
    margin-bottom: var(--mb-2);
    color: var(--text-color);
    line-height: 2rem;
  }
}
