/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* VARIABLES CSS */
:root {
  --header-height: 4.37rem;

  /* Colors */
  --body-color: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%);
  --title-color: rgba(255, 255, 255, 1);
  --color-white: rgba(255, 255, 255, 1);
  --text-color: rgba(255, 255, 255, 0.5);
  --color-purple: rgba(183, 92, 255, 1);
  --color-hover: rgba(255, 255, 255, 0.5);
  --bg-color-one: rgba(255, 255, 255, 0.1);

  /* Font and typography */
  --body-font: "Poppins", sans-serif;

  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Margenes */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}
